<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <!--- colocar só os dois pontos é o mesmo que v-bind --->
    <div id="app">
      <input type="text" v-model="texto" v-on:keyup.enter="alterarNome()" />

      <ul>
        <li
          v-for="item in array"
          style="background: white;"
          @click="alerta($event)"
        >
          {{item}}
        </li>
      </ul>

      <input
        @click="corP($event.target.value)"
        type="radio"
        name="cor"
        value="red"
        checked
      />
      red <br />
      <input
        @click="corP($event.target.value)"
        type="radio"
        name="cor"
        value="green"
      />
      green <br />
      <input
        @click="corP($event.target.value)"
        type="radio"
        name="cor"
        value="blue"
      />
      blue <br />
      <input
        @click="corP($event.target.value)"
        type="radio"
        name="cor"
        value="yellow"
      />
      yellow <br />

      <button @click="vermelho()">vermelho</button>
      <button @click="verde()"   >verde   </button>
      <button @click="incolor()" >incolor </button>
      <button @click="borda()"   >borda   </button>

      <p v-bind:class="{red: colors.vermelho, 
        green: colors.verde,
        borda: colors.borda}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vitae
        ut, dignissimos nisi officiis sit nam consequuntur labore consectetur
        tempore alias quisquam cupiditate exercitationem assumenda laboriosam,
        architecto, placeat itaque quis!
      </p>

      <p class="red, green">
        testekkkkk
      </p>
    </div>

    <style>
      .red {
        background-color: red;
      }
      .borda{
          border:2px solid black;
      }
      .green {
        background-color: green;
      }
      .blue {
        background-color: blue;
      }
      .yellow {
        background-color: yellow;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          colors: {
            vermelho: false,
            verde: false,
            borda: false
          },
          classeParagrafo: "red",
          texto: "",
          array: [],
        },
        methods: {
          alterarNome() {
            this.array.push(this.texto);
            this.texto = "";
          },         
          alerta(event) {
            elemento = event.target;
            if (elemento.style.background == "white") {
              elemento.style = "background: red";
            } else {
              elemento.style = "background: white";
            }
          },
          corP(cor) {
            this.classeParagrafo = cor;
          },
          vermelho() {
            this.colors.vermelho = !this.colors.vermelho;
            this.colors.verde = false;
          },
          verde() {
            this.colors.vermelho = false;
            this.colors.verde = !this.colors.verde;
          },
          incolor() {
            this.colors.vermelho = false;
            this.colors.verde = false;
            this.colors.borda = false;
          },
          borda(){
            this.colors.borda = !this.colors.borda;
          }
        },
      });
    </script>
  </body>
</html>
